[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/GanShun
[access "refs/for/refs/*"]
	read = group user/GanShun
	push = group user/GanShun
	label-Code-Review = -2..+2 group user/GanShun
	label-Verified = -1..+1 group user/GanShun
	rebase = group user/GanShun
	removeReviewer = group user/GanShun
	submit = group user/GanShun
[access "refs/heads/*"]
	read = group user/GanShun
	create = group user/GanShun
	push = +force group user/GanShun
	pushMerge = group user/GanShun
[access "refs/tags/*"]
	push = +force group user/GanShun
	pushTag = group user/GanShun
	pushSignedTag = group user/GanShun
